<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="discordAIO6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <discordAIO6.Properties.Settings>
            <setting name="ui_Color" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="show_Username" serializeAs="String">
                <value>yes</value>
            </setting>
            <setting name="ui_Lang" serializeAs="String">
                <value>en</value>
            </setting>
        </discordAIO6.Properties.Settings>
    </userSettings>
</configuration>